In [2]:
import prettytable

prettytable.DEFAULT = 'DEFAULT'

In [3]:
import sqlite3
import pandas as pd
import numpy

%load_ext sql

In [6]:
crime = pd.read_csv("ChicagoCrimeData.csv")
schools = pd.read_csv("Chicago_Public_Schools.csv")
census = pd.read_csv("ChicagoCensusData.csv")

In [8]:
con = sqlite3.connect("FinalDB.db")
cur = con.cursor()

In [9]:
%sql sqlite:///FinalDB.db

Connecting to 'sqlite:///FinalDB.db'

In [13]:
crime.to_sql('crime_data', con,index = False)
schools.to_sql('school_data', con,index = False)
census.to_sql('census_data', con,index = False)

78

In [10]:
crime.head()

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,2004-08-28,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,9,14.0,58.0,6,1155838.0,1873050.0,2004,41.807440,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,2004-06-26,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,11,27.0,23.0,6,1152206.0,1906127.0,2004,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,2011-04-04,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,2,3.0,38.0,6,1177436.0,1876313.0,2011,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,2010-12-30,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,4,7.0,46.0,6,1194622.0,1850125.0,2010,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,2016-02-02,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,8,15.0,66.0,6,1155240.0,1860661.0,2016,41.773455,-87.706480,"(41.773455295, -87.706480471)"

In [11]:
schools.head()

,School ID,Name of School,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,RCDTS Code,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,Community Area Number,Community Area Name,Ward,Police District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,150000000000000,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,150000000000000,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,150000000000000,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,150000000000000,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"

In [12]:
census.head()

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16__UNEMPLOYED,PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

The total number of crimes recorded in the CRIME table.

In [16]:
%sql SELECT COUNT(*) FROM 'crime_data';

Running query in 'sqlite:///FinalDB.db'

+----------+
| COUNT(*) |
+----------+
|   533    |
+----------+

##### Community area names and numbers with per capita income less than 11000.

In [18]:
%sql SELECT "COMMUNITY_AREA_NAME","PER_CAPITA_INCOME" FROM 'census_data' WHERE "PER_CAPITA_INCOME" < 11000;

Running query in 'sqlite:///FinalDB.db'

+---------------------+-------------------+
| COMMUNITY_AREA_NAME | PER_CAPITA_INCOME |
+---------------------+-------------------+
|  West Garfield Park |       10934       |
|    South Lawndale   |       10402       |
|     Fuller Park     |       10432       |
|      Riverdale      |        8201       |
+---------------------+-------------------+

#####  All case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [20]:
%sql SELECT "CASE_NUMBER","DESCRIPTION" FROM "crime_data" WHERE "DESCRIPTION" LIKE "%\minor%" ESCAPE '\';

Running query in 'sqlite:///FinalDB.db'

+-------------+-------------------------------+
| CASE_NUMBER |          DESCRIPTION          |
+-------------+-------------------------------+
|   HL266884  | SELL/GIVE/DEL LIQUOR TO MINOR |
|   HK238408  |  ILLEGAL CONSUMPTION BY MINOR |
+-------------+-------------------------------+

##### All kidnapping crimes involving a child

In [21]:
%sql SELECT * FROM "crime_data" WHERE "PRIMARY_TYPE" = "KIDNAPPING";

Running query in 'sqlite:///FinalDB.db'

+---------+-------------+------------+----------------------+------+--------------+--------------------------+----------------------+--------+----------+------+----------+------+-----------------------+---------+--------------+--------------+------+-------------+--------------+-------------------------------+
|    ID   | CASE_NUMBER |    DATE    |        BLOCK         | IUCR | PRIMARY_TYPE |       DESCRIPTION        | LOCATION_DESCRIPTION | ARREST | DOMESTIC | BEAT | DISTRICT | WARD | COMMUNITY_AREA_NUMBER | FBICODE | X_COORDINATE | Y_COORDINATE | YEAR |   LATITUDE  |  LONGITUDE   |            LOCATION           |
+---------+-------------+------------+----------------------+------+--------------+--------------------------+----------------------+--------+----------+------+----------+------+-----------------------+---------+--------------+--------------+------+-------------+--------------+-------------------------------+
| 5276766 |   HN144152  | 2007-01-26 | 050XX W VAN BUREN ST | 1792 |  KIDNAPPING  | CHILD ABDUCTION/STRANGER |        STREET        |   0    |    0     | 1533 |    15    | 29.0 |          25.0         |    20   |  1143050.0   |  1897546.0   | 2007 | 41.87490841 | -87.75024931 | (41.874908413, -87.750249307) |
+---------+-------------+------------+----------------------+------+--------------+--------------------------+----------------------+--------+----------+------+----------+------+-----------------------+---------+--------------+--------------+------+-------------+--------------+-------------------------------+

##### The kind of crimes that were recorded at schools.

In [28]:
%sql SELECT DISTINCT "PRIMARY_TYPE" FROM "crime_data" WHERE "LOCATION_DESCRIPTION" LIKE "%\school%" ESCAPE '\';

Running query in 'sqlite:///FinalDB.db'

+------------------------+
|      PRIMARY_TYPE      |
+------------------------+
|        BATTERY         |
|    CRIMINAL DAMAGE     |
|       NARCOTICS        |
|        ASSAULT         |
|   CRIMINAL TRESPASS    |
| PUBLIC PEACE VIOLATION |
+------------------------+

##### The type of schools along with the average safety score for each type.

In [34]:
%sql SELECT "Elementary, Middle, or High School" , AVG("Safety Score") FROM "school_data" GROUP BY "Elementary, Middle, or High School";

Running query in 'sqlite:///FinalDB.db'

+------------------------------------+---------------------+
| Elementary, Middle, or High School | AVG("Safety Score") |
+------------------------------------+---------------------+
|                 ES                 |  49.52038369304557  |
|                 HS                 |  49.62352941176471  |
|                 MS                 |         48.0        |
+------------------------------------+---------------------+

##### Community areas with highest % of households below poverty line

In [38]:
%sql SELECT "COMMUNITY_AREA_NAME" ,"PERCENT_HOUSEHOLDS_BELOW_POVERTY"  FROM "census_data" ORDER BY "PERCENT_HOUSEHOLDS_BELOW_POVERTY" DESC LIMIT 5

Running query in 'sqlite:///FinalDB.db'

+---------------------+----------------------------------+
| COMMUNITY_AREA_NAME | PERCENT_HOUSEHOLDS_BELOW_POVERTY |
+---------------------+----------------------------------+
|      Riverdale      |               56.5               |
|     Fuller Park     |               51.2               |
|      Englewood      |               46.6               |
|    North Lawndale   |               43.1               |
|  East Garfield Park |               42.4               |
+---------------------+----------------------------------+

##### Most crime prone coumminty area number.

In [63]:
%%sql
SELECT "COMMUNITY_AREA_NUMBER", COUNT(*) AS crime_count
FROM "crime_data"
GROUP BY "COMMUNITY_AREA_NUMBER"
HAVING COUNT(*) = (
  SELECT MAX(area_count) FROM (
    SELECT COUNT(*) AS area_count
    FROM "crime_data"
    GROUP BY "COMMUNITY_AREA_NUMBER"
  )
);

Running query in 'sqlite:///FinalDB.db'

+-----------------------+-------------+
| COMMUNITY_AREA_NUMBER | crime_count |
+-----------------------+-------------+
|          None         |      43     |
|          25.0         |      43     |
+-----------------------+-------------+

##### To find the name of the community area with highest hardship index

In [55]:
%sql SELECT "COMMUNITY_AREA_NAME" FROM "census_data" WHERE "HARDSHIP_INDEX" = (SELECT MAX("HARDSHIP_INDEX") FROM "census_data");

Running query in 'sqlite:///FinalDB.db'

+---------------------+
| COMMUNITY_AREA_NAME |
+---------------------+
|      Riverdale      |
+---------------------+

##### To determine the Community Area Name with most number of crimes?

In [62]:
%sql SELECT DISTINCT"Community Area Name" FROM "school_data" WHERE "Community Area Number" = 25;

Running query in 'sqlite:///FinalDB.db'

+---------------------+
| Community Area Name |
+---------------------+
|        AUSTIN       |
+---------------------+